.cartdivs{
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
    border-radius: 0.5rem;
}

.Deletediv{
   margin-top: 1rem;
   display: flex;
   font-weight: 550;
   border: 1px solid black;
   border-radius: 1rem;
   height: 2rem;  
   width: 30%;
   justify-content: center;

}
.reco{
    background-color: white;
    padding: 1rem;
    
}
.proceed{
    position: sticky;
    top:20%;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    width: 20%;
    height: 50vh;
    border-radius: 0.5rem;
}
.pagebutton {
    background-color: rgb(255, 217, 0);
    border-radius: 1rem;
    font-size: small;
    width: 100%;
    border: none;
    height: 2rem;
    margin-top: 1rem;
}
/* ---------------------------------------------------------- */
.Accountpage {
    width: 100vw;
    margin: -1rem;
    padding: 0;
    background-color: white;
}
.AccountContainer{
    margin: 1rem 30vb 1rem 30vb;
    background-color: white;
}
.Account {
    display: flex;
    flex-wrap: wrap;
}
.boxes{
    width:30%;
    height: 7rem;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    font-size: small;
}
.boxes:hover{
    background-color: #e2e7e6;
}
.logos{
    width: 4rem;
    height: 3rem;
    
}
/* --------------------------------------------------------------- */
.orderContainer{
    border-radius: 0.5rem;
    border: 1px solid rgb(175, 175, 175);
    
}
.OrderHeader{
    background-color:#e2e7e6;
    display: flex;
    padding: 1rem;
    height: 20%;
    align-content: center;   
}
.ordermain{
    height: fit-content;
    background-color: white;
    font-size: medium;
    padding: 1rem;
}
.orderfooter{

    height: 10%;
    background-color: white;
    border-bottom-right-radius:0.5rem ;
    border-bottom-left-radius: 0.5rem;
    border-top: 0.5px solid gray;
    font-size: medium;
    padding-left: 1rem;
}
pre{
    margin-bottom: 0;
}
.Orderimage{
    height: 10rem;
  
}