

.secondheader{
    height: 1rem;
    background-color: #232F3E;
    color: white;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-around;
    margin-top:1.5rem ;
}
.secondhlist {
    border: 1.5px solid transparent;
    height: 1.5rem;
    font-size: 0.3rem;
    align-content: center;
    font-weight: 600;
}
@media (width>=767px){
    .secondheader{
        height: 2rem;
        margin-top: 4rem;
    }
    .secondhlist {
        font-size: 0.6rem;
    }
    
}
@media (width>=1000px) {

 .secondhlist {
        font-size: 0.8rem;
 }

}

.secondhlist:hover{
    border:1.5px solid white;
}

